/Package.swift                  @uxcam/maintainers
/UXCam.podspec                  @uxcam/maintainers
/release-metadata.json          @uxcam/maintainers
/Scripts/                       @uxcam/maintainers
/.github/                       @uxcam/maintainers @uxcam/security-team
/.github/workflows/             @uxcam/maintainers @uxcam/security-team
